<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf test</title>
    <style>
        table{
            width: 600px;
            border: 2px solid #e33d00;
            text-align: center;
        }
        thead{
            background-color: orangered;
        }
    </style>
</head>
<body class="container">
    <br/>
    <h1 th:text="${headtext}">标题</h1>

    <div class="card-header">
        <h3 class="card-title">博客管理</h3>
    </div>

    <div class="card-body">
        <div>
            <button onclick="addBlog()">新增N</button>
            <button onclick="editBlog()">修改</button>
            <button onclick="deleteBlog()">删除</button>
            <input type="text" placeholder="关键字(标题/分类)" id="keyword"/>
            <button onclick="search()">搜索</button>
        </div>
    </div>

    <div class="with:80%">
        <table  class="table table-hover">
            <thead>
                <tr>
                    <th >id</th>
                    <th >title</th>
                    <th >category_name</th>
                    <th >create_time</th>
                    <th >update_time</th>
                    <th >sub_url</th>
                    <th >tags</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <tr  th:each="blog : ${blogs}">
                        <td th:text="${blog.blog_id}">id</td>
                        <td th:text="${blog.blog_title}">name</td>
                        <td th:text="${blog.blog_category_name}">age</td>
                        <td th:text="${blog.create_time}">sex</td>
                        <td th:text="${blog.update_time}">address</td>
                        <td th:text="${blog.blog_sub_url}">address</td>
                        <td th:text="${blog.blog_tags}">address</td>
                </tr>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<!-- 使用thymeleaf方式-->
<script type="text/javascript" th:inline="javascript">
    <!-- 调用Controller类的函数 -->
    function addBlog() {
        location.href = "blogs/edit";
    }
</script>
</html>