<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf test</title>
    <style>
        table{
            width: 600px;
            border: 2px solid #e33d00;
            text-align: center;
        }
        thead{
            background-color: orangered;
        }
    </style>
</head>
<body class="container">
    <br/>
    <h1 th:text="${hello}">标题</h1>
    <div class="with:80%">
        <table  class="table table-hover">
            <thead>
                <tr>
                    <th >id</th>
                    <th >name</th>
                    <th >address</th>
                    <th >age</th>
                    <th >sex</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <tr  th:each="student : ${students}">
                        <td th:text="${student.id}">id</td>
                        <td th:text="${student.name}">name</td>
                        <td th:text="${student.address}">address</td>
                        <td th:text="${student.age}">age</td>
                        <td th:text="${student.sex}">sex</td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>