<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf test</title>
</head>
<body>

    <h1 th:text="${hello}">Hello, Spring Boot!</h1>
    <table >
        <tr>
            <th >id</th>
            <th >name</th>
            <th >address</th>
            <th >age</th>
            <th >sex</th>
        </tr>
        <tr >
            <tr  th:each="student : ${students}">
                <td th:text="${student.id}">id</td>
                <td th:text="${student.name}">name</td>
                <td th:text="${student.address}">address</td>
                <td th:text="${student.age}">age</td>
                <td th:text="${student.sex}">sex</td>
            </tr>
        </tr>
    </table>
</body>
</html>