<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form id="fileForm" name="fileForm" enctype="multipart/form-data">
        <input class="form-control" type="file" name="file" id="file"/>
        <button id="btn" type="button">提交</button>
    </form>
    <div class="progress">
        <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
            0%
        </div>
    </div>
</body>
</html>